/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Contenedor principal */
main {
    max-width: 650px;
    margin: auto;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Efecto hover en el contenedor principal */
main:hover {
    transform: scale(1.03);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

/* Título */
h1 {
    font-size: 28px;
    color: #87603e; /* Azul claro */
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 2px solid #816d47; /* Línea debajo del título */
}

/* Párrafo */
p {
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    color: #555;
    padding: 15px 20px;
    background: #ffffff;
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
}

/* Efecto hover en párrafo */
p:hover {
    transform: translateY(-5px); /* Efecto de movimiento sutil */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
}

/* Contenedor del botón */
.button-container {
    display: flex;
    justify-content: flex-end; /* Puedes usar center o flex-start si prefieres */
    gap: 15px; /* Espacio entre botones */
    margin-bottom: 25px;
}

/* Estilos del botón */
button {
    background: #9e8377; /* Azul claro */
    color: white;
    border: none;
    padding: 14px 35px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Hover del botón */
button:hover {
    background: #68644d; /* Azul más oscuro */
    transform: scale(1.05);
}

/* Estado activo del botón */
button:active {
    transform: scale(0.95);
}

